@function local-font($path) {
  @return url(#{$font-path}/#{$path})
}
@font-face {
  font-family: "lichess";
  src: local-font("lichess.woff2") format("woff2"), local-font("lichess.woff") format("woff");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Chess';
  src: local-font("lichess.chess.woff2") format("woff2"), local-font("lichess.chess.woff") format("woff");
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/o-0IIpQlx3QUlC5A4PNr6DRAW_0.woff2) format('woff2');
}
